.content .header {
    width: 100%;
    text-align: center;
}

.content .meta {
    height: 2em;
    text-align: center;
    font-size: 1.1em !important;
}

.content .meta .audio-player {
    //font-size: 1.2em !important;
    line-height: 3em;
}

.audio-player .slide-container {
    width:3em;
}

.item .image {
    width: 200px !important;
}

