.content .header {
    width: 100%;
    text-align: center;
}

.content .meta {
    height: 2em;
    text-align: center;
    font-size: 1.1em !important;
}

.content .meta .audio-player {
    margin-left: 20%;
    line-height: 3em;
}

.item .image {
    width: 200px !important;
}

